#### Import necessary libs

In [1]:
import numpy as np ,pandas as pd

#### Using the csv file given, create a MultiIndex DataFrame using cols 0, 1, 2 as index and multiCol using rows 0, 1

#### sort the index

In [2]:
df = pd.read_csv(r"C:\Users\pc\Downloads\multi_index_assignment_261_264-1 - sheet - 1.csv",
                 index_col=[0, 1, 2],
                 header=[0, 1]).sort_index()

In [3]:
df

                                               2014            2015          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     143     273     273     103
                            Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
          North Bangalore   Air Conditioner     113     243     173     113
                            Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
          South Bangalore   Air Conditioner     203     173     123     213
                            Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
Tamilnadu Central Chennai   Air Conditioner     103     213      93     283
                            Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
          North Chennai     Air Conditioner      93     133      93     153
                            Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
          South Chennai     Air Conditioner     263     233     193     203
                            Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
Telangana Hyderabad         Air Conditioner     153     233     193     223
                            Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
          Rangareddy        Air Conditioner     123     103     223     123
                            Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
          Secunderabad      Air Conditioner     173     163     183     273
                            Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143

                                               2016            2017          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     103     113     143     243
                            Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
          North Bangalore   Air Conditioner     253     223     203     113
                            Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
          South Bangalore   Air Conditioner     153     173     203     213
                            Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
Tamilnadu Central Chennai   Air Conditioner     233     233     233     103
                            Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
          North Chennai     Air Conditioner     163     193     273     243
                            Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
          South Chennai     Air Conditioner     193     283     173     283
                            Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
Telangana Hyderabad         Air Conditioner     283     143      93     193
                            Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
          Rangareddy        Air Conditioner     193     253      93     113
                            Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
          Secunderabad      Air Conditioner     273     133     203     173
                            Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163

                                               2018            2019          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     283     153     193     153
                            Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
          North Bangalore   Air Conditioner     213     283     243     143
                            Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
          South Bangalore   Air Conditioner     213     103     273     123
                            Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
Tamilnadu Central Chennai   Air Conditioner     173     263     283      93
                            Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
          North Chennai     Air Conditioner     263     103     183     173
                            Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
          South Chennai     Air Conditioner     143     163     263     243
                            Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
Telangana Hyderabad         Air Conditioner     153     153     243     203
                            Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
          Rangareddy        Air Conditioner     133      93     273     253
                            Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
          Secunderabad      Air Conditioner     243     163     173     263
                            Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263

                                               2020            2021          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     193     133     133     123
                            Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
          North Bangalore   Air Conditioner     203     253     203     253
                            Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
          South Bangalore   Air Conditioner     163      93     283     143
                            Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
Tamilnadu Central Chennai   Air Conditioner     153     273     113     183
                            Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
          North Chennai     Air Conditioner     213     123     153     123
                            Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
          South Chennai     Air Conditioner     113     223     223     133
                            Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
Telangana Hyderabad         Air Conditioner     183     113     203     183
                            Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
          Rangareddy        Air Conditioner     203     253     283     113
                            Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
          Secunderabad      Air Conditioner     223     233     213     113
                            Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223

                                               2022            2023
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     253     263     203     153
                            Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
          North Bangalore   Air Conditioner     273     223     283     183
                            Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
          South Bangalore   Air Conditioner     143     213     183     103
                            Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
Tamilnadu Central Chennai   Air Conditioner      93     143     193     143
                            Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
          North Chennai     Air Conditioner     203     153     143     223
                            Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
          South Chennai     Air Conditioner     283     243     243     153
                            Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
Telangana Hyderabad         Air Conditioner     103     273     183     183
                            Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
          Rangareddy        Air Conditioner     283     173     193     233
                            Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
          Secunderabad      Air Conditioner     103     113     183     213
                            Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273

#### Name the index cols as State, Region, Product and the multicol levels as Year and Semester

In [4]:
df.index.names = ['State', 'Region', 'Product']
df.columns.names = ['Year', 'Semester']

In [5]:
df

Year                                           2014            2015          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     143     273     273     103
                            Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
          North Bangalore   Air Conditioner     113     243     173     113
                            Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
          South Bangalore   Air Conditioner     203     173     123     213
                            Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
Tamilnadu Central Chennai   Air Conditioner     103     213      93     283
                            Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
          North Chennai     Air Conditioner      93     133      93     153
                            Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
          South Chennai     Air Conditioner     263     233     193     203
                            Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
Telangana Hyderabad         Air Conditioner     153     233     193     223
                            Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
          Rangareddy        Air Conditioner     123     103     223     123
                            Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
          Secunderabad      Air Conditioner     173     163     183     273
                            Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143

Year                                           2016            2017          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     103     113     143     243
                            Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
          North Bangalore   Air Conditioner     253     223     203     113
                            Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
          South Bangalore   Air Conditioner     153     173     203     213
                            Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
Tamilnadu Central Chennai   Air Conditioner     233     233     233     103
                            Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
          North Chennai     Air Conditioner     163     193     273     243
                            Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
          South Chennai     Air Conditioner     193     283     173     283
                            Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
Telangana Hyderabad         Air Conditioner     283     143      93     193
                            Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
          Rangareddy        Air Conditioner     193     253      93     113
                            Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
          Secunderabad      Air Conditioner     273     133     203     173
                            Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163

Year                                           2018            2019          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     283     153     193     153
                            Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
          North Bangalore   Air Conditioner     213     283     243     143
                            Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
          South Bangalore   Air Conditioner     213     103     273     123
                            Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
Tamilnadu Central Chennai   Air Conditioner     173     263     283      93
                            Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
          North Chennai     Air Conditioner     263     103     183     173
                            Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
          South Chennai     Air Conditioner     143     163     263     243
                            Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
Telangana Hyderabad         Air Conditioner     153     153     243     203
                            Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
          Rangareddy        Air Conditioner     133      93     273     253
                            Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
          Secunderabad      Air Conditioner     243     163     173     263
                            Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263

Year                                           2020            2021          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     193     133     133     123
                            Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
          North Bangalore   Air Conditioner     203     253     203     253
                            Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
          South Bangalore   Air Conditioner     163      93     283     143
                            Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
Tamilnadu Central Chennai   Air Conditioner     153     273     113     183
                            Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
          North Chennai     Air Conditioner     213     123     153     123
                            Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
          South Chennai     Air Conditioner     113     223     223     133
                            Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
Telangana Hyderabad         Air Conditioner     183     113     203     183
                            Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
          Rangareddy        Air Conditioner     203     253     283     113
                            Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
          Secunderabad      Air Conditioner     223     233     213     113
                            Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223

Year                                           2022            2023
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     253     263     203     153
                            Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
          North Bangalore   Air Conditioner     273     223     283     183
                            Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
          South Bangalore   Air Conditioner     143     213     183     103
                            Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
Tamilnadu Central Chennai   Air Conditioner      93     143     193     143
                            Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
          North Chennai     Air Conditioner     203     153     143     223
                            Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
          South Chennai     Air Conditioner     283     243     243     153
                            Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
Telangana Hyderabad         Air Conditioner     103     273     183     183
                            Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
          Rangareddy        Air Conditioner     283     173     193     233
                            Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
          Secunderabad      Air Conditioner     103     113     183     213
                            Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273

#### Using .loc method, find the number of units of Smart Tv sold in Central Channai in year 2020

In [6]:

a=df.loc[(slice(None),'Central Chennai','Smart TV'),:]
a

Year                                  2014            2015            2016  \
Semester                           Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State     Region          Product
Tamilnadu Central Chennai Smart TV     183     233     163     163     103

Year                                          2017            2018          \
Semester                           Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu Central Chennai Smart TV     113     213     203     173     283

Year                                  2019            2020            2021  \
Semester                           Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State     Region          Product
Tamilnadu Central Chennai Smart TV     213     183     123     273     173

Year                                          2022            2023
Semester                           Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu Central Chennai Smart TV     283      93     183     213     163

In [7]:
a.groupby(level=(2)).sum()

Year        2014            2015            2016            2017          \
Semester Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Product
Smart TV     183     233     163     163     103     113     213     203

Year        2018            2019            2020            2021          \
Semester Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Product
Smart TV     173     283     213     183     123     273     173     283

Year        2022            2023
Semester Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Product
Smart TV      93     183     213     163

In [8]:
a[a.columns[12]]+a[a.columns[13]]

State      Region           Product
Tamilnadu  Central Chennai  Smart TV    396
dtype: int64

#### using .loc and slice(), get the records from Rangareddy, Telangana and all records from Tamilnadu for years 'Jul-Dec' of 2016 till & including 2019

In [9]:
df.loc[('Telangana', 'Rangareddy'), (slice('2016', '2019'), 'Jul-Dec')].T

Product        Air Conditioner  Smart Phone  Smart TV
Year Semester
2016 Jul-Dec               253          103       273
2017 Jul-Dec               113          253       253
2018 Jul-Dec                93          123       173
2019 Jul-Dec               253          123        93

In [10]:
df.loc[('Tamilnadu'), (slice('2016', '2019'), 'Jul-Dec')].T

Region        Central Chennai                        North Chennai  \
Product       Air Conditioner Smart Phone Smart TV Air Conditioner
Year Semester
2016 Jul-Dec              233         193      113             193
2017 Jul-Dec              103         223      203             243
2018 Jul-Dec              263         153      283             103
2019 Jul-Dec               93         133      183             173

Region                               South Chennai
Product       Smart Phone Smart TV Air Conditioner Smart Phone Smart TV
Year Semester
2016 Jul-Dec          123      263             283         263      143
2017 Jul-Dec          143      133             283         263      183
2018 Jul-Dec          223      193             163         283      103
2019 Jul-Dec          253      263             243         143      103

### using .xs(), get all the records from Karnataka belonging to Air Conditioner

In [11]:
df.xs((('Karnataka',slice(None),'Air Conditioner')),level=(0,1,2),drop_level=False)
#df.xs('Karnataka').loc[(slice(None),'Air Conditioner'),:]

Year                                           2014            2015          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     143     273     273     103
          North Bangalore   Air Conditioner     113     243     173     113
          South Bangalore   Air Conditioner     203     173     123     213

Year                                           2016            2017          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     103     113     143     243
          North Bangalore   Air Conditioner     253     223     203     113
          South Bangalore   Air Conditioner     153     173     203     213

Year                                           2018            2019          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     283     153     193     153
          North Bangalore   Air Conditioner     213     283     243     143
          South Bangalore   Air Conditioner     213     103     273     123

Year                                           2020            2021          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     193     133     133     123
          North Bangalore   Air Conditioner     203     253     203     253
          South Bangalore   Air Conditioner     163      93     283     143

Year                                           2022            2023
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Air Conditioner     253     263     203     153
          North Bangalore   Air Conditioner     273     223     283     183
          South Bangalore   Air Conditioner     143     213     183     103

### using .xs(), get all the records from 'Jan-Jun'

In [12]:
df.xs('Jan-Jun', level=1, axis=1, drop_level=False)

Year                                           2014    2015    2016    2017  \
Semester                                    Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State     Region            Product
Karnataka Central Bangalore Air Conditioner     143     273     103     143
                            Smart Phone         163     283     193     183
                            Smart TV            263     133     223     263
          North Bangalore   Air Conditioner     113     173     253     203
                            Smart Phone         263     153     203     143
                            Smart TV            103     213     253     173
          South Bangalore   Air Conditioner     203     123     153     203
                            Smart Phone         283     113     123      93
                            Smart TV            143     213     223     223
Tamilnadu Central Chennai   Air Conditioner     103      93     233     233
                            Smart Phone         133     233     223     103
                            Smart TV            183     163     103     213
          North Chennai     Air Conditioner      93      93     163     273
                            Smart Phone         143     173     123     183
                            Smart TV            273     143     273     263
          South Chennai     Air Conditioner     263     193     193     173
                            Smart Phone         283     133     283     173
                            Smart TV            223     173      93     103
Telangana Hyderabad         Air Conditioner     153     193     283      93
                            Smart Phone         253      93     173      93
                            Smart TV            183     263     263     233
          Rangareddy        Air Conditioner     123     223     193      93
                            Smart Phone          93     233     243     213
                            Smart TV            113     253     143     143
          Secunderabad      Air Conditioner     173     183     273     203
                            Smart Phone          93     263     173     213
                            Smart TV            123     103     113     263

Year                                           2018    2019    2020    2021  \
Semester                                    Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State     Region            Product
Karnataka Central Bangalore Air Conditioner     283     193     193     133
                            Smart Phone         203     253      93     123
                            Smart TV            273     133     163      93
          North Bangalore   Air Conditioner     213     243     203     203
                            Smart Phone         223     103     273     213
                            Smart TV            143     213     173     273
          South Bangalore   Air Conditioner     213     273     163     283
                            Smart Phone          93     113     123     263
                            Smart TV            123     273     203     213
Tamilnadu Central Chennai   Air Conditioner     173     283     153     113
                            Smart Phone         283     173     143     233
                            Smart TV            173     213     123     173
          North Chennai     Air Conditioner     263     183     213     153
                            Smart Phone         203     103     263     153
                            Smart TV            113     123     173     163
          South Chennai     Air Conditioner     143     263     113     223
                            Smart Phone         153      93     193     103
                            Smart TV            243     113     223     213
Telangana Hyderabad         Air Conditioner     153     243     183     203
                            Smart Phone         153     193     193     283
                            Smart TV            263      93     243     193
          Rangareddy        Air Conditioner     133     273     203     283
                            Smart Phone          93     243     283     273
                            Smart TV            113     163     203     233
          Secunderabad      Air Conditioner     243     173     223     213
                            Smart Phone         133     203     263     143
                            Smart TV             93     193     163     123

Year                                           2022    2023
Semester                                    Jan-Jun Jan-Jun
State     Region            Product
Karnataka Central Bangalore Air Conditioner     253     203
                            Smart Phone         223     113
                            Smart TV            243     223
          North Bangalore   Air Conditioner     273     283
                            Smart Phone          93     213
                            Smart TV            213     243
          South Bangalore   Air Conditioner     143     183
                            Smart Phone         203     143
                            Smart TV            133     153
Tamilnadu Central Chennai   Air Conditioner      93     193
                            Smart Phone         143     113
                            Smart TV             93     213
          North Chennai     Air Conditioner     203     143
                            Smart Phone         283     243
                            Smart TV             93     183
          South Chennai     Air Conditioner     283     243
                            Smart Phone         243     283
                            Smart TV            203     143
Telangana Hyderabad         Air Conditioner     103     183
                            Smart Phone         103     243
                            Smart TV             93     193
          Rangareddy        Air Conditioner     283     193
                            Smart Phone         213     193
                            Smart TV            253     183
          Secunderabad      Air Conditioner     103     183
                            Smart Phone         203     283
                            Smart TV            143     143

#### using 'get_level_values', get all records belonging to 'Smart TV'

In [13]:
df[df.index.get_level_values('Product') == 'Smart TV']

Year                                    2014            2015            2016  \
Semester                             Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State     Region            Product
Karnataka Central Bangalore Smart TV     263     103     133     103     223
          North Bangalore   Smart TV     103     173     213     203     253
          South Bangalore   Smart TV     143     193     213     243     223
Tamilnadu Central Chennai   Smart TV     183     233     163     163     103
          North Chennai     Smart TV     273     153     143     283     273
          South Chennai     Smart TV     223     133     173     203      93
Telangana Hyderabad         Smart TV     183     213     263     183     263
          Rangareddy        Smart TV     113     213     253     253     143
          Secunderabad      Smart TV     123     123     103     143     113

Year                                            2017            2018          \
Semester                             Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Smart TV     213     263      93     273     283
          North Bangalore   Smart TV     173     173     113     143     253
          South Bangalore   Smart TV     193     223     203     123     253
Tamilnadu Central Chennai   Smart TV     113     213     203     173     283
          North Chennai     Smart TV     263     263     133     113     193
          South Chennai     Smart TV     143     103     183     243     103
Telangana Hyderabad         Smart TV     113     233     273     263     273
          Rangareddy        Smart TV     273     143     253     113     173
          Secunderabad      Smart TV     143     263     163      93     243

Year                                    2019            2020            2021  \
Semester                             Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State     Region            Product
Karnataka Central Bangalore Smart TV     133     123     163     173      93
          North Bangalore   Smart TV     213     103     173     283     273
          South Bangalore   Smart TV     273     273     203     153     213
Tamilnadu Central Chennai   Smart TV     213     183     123     273     173
          North Chennai     Smart TV     123     263     173     103     163
          South Chennai     Smart TV     113     103     223     193     213
Telangana Hyderabad         Smart TV      93     153     243     253     193
          Rangareddy        Smart TV     163      93     203     183     233
          Secunderabad      Smart TV     193     263     163     153     123

Year                                            2022            2023
Semester                             Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Karnataka Central Bangalore Smart TV     153     243     233     223     203
          North Bangalore   Smart TV     233     213     233     243     163
          South Bangalore   Smart TV     203     133     113     153     193
Tamilnadu Central Chennai   Smart TV     283      93     183     213     163
          North Chennai     Smart TV     233      93     283     183     133
          South Chennai     Smart TV     203     203     163     143      93
Telangana Hyderabad         Smart TV     243      93     263     193     193
          Rangareddy        Smart TV     223     253     183     183     123
          Secunderabad      Smart TV     223     143     253     143     273

#### Give a detailed data about the Tamilnadu, and then tell me how many items were sold in total from this warehouse over the 10 year period?

In [14]:
x=df.loc['Tamilnadu'].sum()
x

Year  Semester
2014  Jan-Jun     1697
      Jul-Dec     1747
2015  Jan-Jun     1397
      Jul-Dec     1867
2016  Jan-Jun     1687
      Jul-Dec     1807
2017  Jan-Jun     1717
      Jul-Dec     1777
2018  Jan-Jun     1747
      Jul-Dec     1767
2019  Jan-Jun     1547
      Jul-Dec     1587
2020  Jan-Jun     1597
      Jul-Dec     1657
2021  Jan-Jun     1527
      Jul-Dec     1587
2022  Jan-Jun     1637
      Jul-Dec     1717
2023  Jan-Jun     1757
      Jul-Dec     1407
dtype: int64

In [15]:
x.sum()

33230

#### How many Smart TV were sold in Telangana & Karnataka during the year 2017?

In [16]:
df.loc[(['Telangana', 'Karnataka'], slice(None)), ('2017')]

Semester                                     Jan-Jun  Jul-Dec
State     Region            Product
Telangana Hyderabad         Air Conditioner       93      193
                            Smart Phone           93      253
                            Smart TV             233      273
          Rangareddy        Air Conditioner       93      113
                            Smart Phone          213      253
                            Smart TV             143      253
          Secunderabad      Air Conditioner      203      173
                            Smart Phone          213      113
                            Smart TV             263      163
Karnataka Central Bangalore Air Conditioner      143      243
                            Smart Phone          183      193
                            Smart TV             263       93
          North Bangalore   Air Conditioner      203      113
                            Smart Phone          143      153
                            Smart TV             173      113
          South Bangalore   Air Conditioner      203      213
                            Smart Phone           93      183
                            Smart TV             223      203

In [17]:
df.columns.levels

FrozenList([['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'], ['Jan-Jun', 'Jul-Dec']])

#### Get me list of all items that were sold in the Jul-Dec semester of the year 2020 for all States

In [18]:
Jul_Dec= df.groupby('Product').sum().loc[:, ('2020', 'Jul-Dec')]
Jul_Dec

Product
Air Conditioner    1697
Smart Phone        1537
Smart TV           1767
Name: (2020, Jul-Dec), dtype: int64

In [19]:
Jul_Dec.index.unique()

Index(['Air Conditioner', 'Smart Phone', 'Smart TV'], dtype='object', name='Product')

### What method is used to know if the MultiIndex index is sorted or not

 **is_lexsorted() method**
* The is_lexsorted() method returns True if the index is lexicographically sorted along each level; otherwise, it returns False.